.footer{
    margin-top: 90px;

    &-logo{
        text-align: center;
        background: url(../images/footer-line.svg) no-repeat;
        background-position: center;

        @media screen and (min-width: 1440px){
           background-size: 100vw;
        }
        &_sp{
            display: none;
        }
    }
    .insta-btn{
        margin-top: 35px;
        text-align: center;
    }
    &-flex{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .footer-l{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            width: 50vw;
            height: 167px;

            &_inner{
                margin-right: auto;
                margin-left: auto;
                width: fit-content;
            }

            &_schedule_flex{
                display: flex;
                &:first-of-type{
                    font-weight: bold;
                }
                &:not(:first-of-type){
                    margin-top: 8px;
                }

                dt{
                    width: 100px;
                }
            }
            &_schedule_open_small{
                margin-left: 5px;
                font-weight: normal;
                font-size: 1.4rem;
            }

            &_seat_flex{
                margin-top: 8px;
                display: flex;

                dt{
                    width: 140px;
                }
            }
        }
        .footer-r{
            width: 50vw;
        }
    }

    .copyright_wrapp{
        margin-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }

    @media screen and (max-width: 959px) {
        margin-top: 50px;

        .insta-btn{
            margin-top: 22px;
        }
        &-flex{
            // flex-direction: column-reverse;
            flex-direction: column;
            margin-top: 20px;

            .footer-l{
                // margin-top: 20px;
                width: 100vw;
                height: auto;

                &_schedule_flex{
                    &:not(:first-of-type){
                        margin-top: 5px;
                    }
    
                    dt{
                        width: 80px;
                    }
                }
                &_schedule_open_small{
                    margin-left: 3px;
                    font-size: 1.2rem;
                }
    
                &_seat_flex{
                    margin-top: 5px;
    
                    dt{
                        width: 130px;
                    }
                }
            }
            .footer-r{
                margin-top: 20px;
                width: 100vw;
            }
        }
        .copyright_wrapp{
            margin-top: 10px;
        }
        
    }
    
    @media screen and (max-width: 519px) {
        &-logo{
            background: url(../images/footer-line_sp.svg) no-repeat;
            background-position: center;

            &_sp{
                display: inline-block;
            }
            &_pc{
                display: none;
            }
            @media screen and (min-width: 375px){
               background-size: 100vw;
            }
        }
    }
}
